.banner {
  background-color: blueviolet;
  width: 100%;
  height: 500px;
}

/* MENU */
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.hamburguer {
  display: none;
  width: 25px;
  margin-left: 40px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu-nav ul {
  display: flex;
}

.menu-nav ul li{
  list-style: none;
}

.menu-nav ul li a{
  color: white;
  text-decoration: none;
  margin: 0 5px;
  font-size: 12pt;
}

.hide-menu {
  transform: translateY(-150%);
}

/* HEADER */

.klash-tattoo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.header-social-icons a{
  text-decoration: none;
  color: white;
  margin: 10px;
  font-size: 20pt;
}

.header-social-icons a span {
  font-family: 'Lobster', cursive;
  text-transform: none;
}

/* SERVICOS */

.service-items {
  display: flex;
}

.service-items > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-items > div > img {
  margin-bottom: 30px;
  width: 100px;
}

.service-items > div > p {
  margin: 0 50px;
  text-align: center;
}

/* ABOUT */

.about-title {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.about-title h3 {
  margin: 0 20px;
  font-size: 24pt;
  cursor: pointer;
}

.about-title h3:hover {
  text-decoration-line: underline;
}

.about-frames {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-frames video {
  width: 1024px;
}

/* PORTIFOLIO */
.portfolio-items{
  display: flex;
  justify-content: space-around;
}

.portfolio-items div {
  cursor: pointer;
  position: relative;
}

.portfolio-items a {
  text-decoration: none;
}

.portfolio-items img {
  width: 300px;
}

.portfolio-items span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 60px;
  border-radius: 0 0 5px 5px;
  color: black;
  margin: 0;
  position: absolute;
  bottom: -30px;
}

.portifolio-split {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

/* COMMENTS */
.comments-carousel {
  display: flex;
  align-items: center;
}

.comments-arrow {
  font-size: 30px;
  margin: 0 100px;
}

.comment {
  margin: 0 100px;
  text-align: center;
}

.comment span {
  font-size: 10pt;
}

/* GALLERY */

.gallery .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.gallery-item {
  position: relative;
  cursor: pointer;
}

.gallery-overlay {
  position: absolute;
  width: 100%;
  height: calc(100% - 1%);
  background-color: rgba(0, 0, 0, 0.6);
  /* display: none; */
}

.gallery-overlay span { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;;
}

.gallery-overlay span h3 { 
  font-size: 30pt;
  margin: 0;
}

.gallery-item img {
  width: 400px;
  height: 300px;
}

/* WHERE */

.where {
  background-color: #5e528e;
  padding: 50px 0
}

.where .container {
  display: flex;
  justify-content: space-around;
}

.where .container > div > a {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-family: 'Rye', cursive;
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-decoration: none;
}

/* CONTACT */

.contact {
  background-image: url(../images/lojaklashtattoo-suzano.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.contact-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 999;
}

.contact-form strong {
  font-size: 12pt;
  margin-bottom: 40px;
}

.contact-form input, textarea {
  width: 90%;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin: 5px 0;
  padding-left: 10px;
  font-size: 10pt;
  text-transform: uppercase;
}

.contact-form input{
  height: 40px;
}

.contact-form textarea{
  padding-top: 15px;
  resize: none;
}

.contact-btn {
  background-color: #5e528e;
  width: 240px;
  height: 60px;
}

/* Information */
.information {
  font-size: 10pt;
}

.information h3 {
  font-size: 14pt;
}

.information > div {
  display: flex;
  align-items: initial;
}

.information > div div {
  padding: 0 100px;
}

.info-klash {
  display: flex;
  align-items: center;
}

.info-klash > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-klash img {
  width: 100px;
  margin-right: 30px;
}

/* Footer */

.footer1 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: #5e528e;
  padding: 30px 0;
  font-size: 10pt
}

.footer1 span {
  font-size: 25px;
}

.footer2 {
  display: flex;
  justify-content: center;
  padding: 30px 0
}

.footer2 span {
  margin: 0 10px;
}

.footer2 i {
  font-size: 30px;
}

.footer3 {
  padding: 20px 0;
  font-size: 10pt;
  background-color: #5e528e;
  text-align: center;
}

.footer3 p {
  margin: 0 30px;
}

/* Responsivo */

@media screen and (max-width:1024px) {
  .comment {
    margin: 0;
  }

  .comments-arrow {
    margin: 0 10px;
  }
  
  .information > div {
    flex-direction: column-reverse;
  }

  .information > div div {
    margin: 50px 0;
  }

  .info-klash {
    flex-direction: column;
  }

  .info-klash img {
    margin-right: 0;
  }

  .info-contato {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer1 {
    flex-direction: column;
  }

  .footer1 div {
    margin: 50px 0;
  }
}

@media screen and (max-width: 950px) {
  .portfolio-items {
    flex-direction: column;
    align-items: center;
  }

  .portfolio-items div {
    margin: 50px 0;
  }

  .gallery .container {
    flex-direction: column;
  }
}

@media screen and (max-width:700px) {
  .hamburguer {
    display: block;
  }

  .menu {
    flex-direction: column;
    margin-top: 10px;
  }

  .menu img:nth-child(1) {
    display: none;
  }

  .menu-nav {
    display: flex;
    justify-content: flex-start;
    background-color: #5e528e;
    transition: 0.5s;
  }

  .menu-nav ul {
    flex-direction: column;
  }

  .service-items {
    flex-direction: column;
  }

  .service-items div {
    margin: 50px 100px;
  }

  .where .container {
    flex-direction: column;
  }

  .where .container div {
    margin: 50px 0;
  }
}